body {
    background-image: url("../images/battlebackground.jpg");
    background-size: cover;
    font-family: 'New Rocker', cursive;
    color: rgb(223, 223, 223);
}

.container {
    width: 80%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
}

.identifier {
    margin-bottom: -15px;
}

#title-text {
    background: #111;
    padding: 0px 19px 2px 8px;
}

#hero-row-text {
    background: #111;
    padding: 0px 22px 7px 1px;
}

#character-row-text {
    background: #111;
    padding: 11px 2px 1px 7px;
}

#enemy-row-text {
    background: #111;
    padding: 13px 18px 5px 0px;
}

#defender-row-text {
    background: #111;
    padding: 3px 1px 11px 17px;
}

button {
    width: 180px;
    height: 50px;
    font-size: 18px;
}

.defender-damage,
.dead-defender-damage {
    background: #111;
    padding: 2px 1px 7px 23px;
    overflow: auto;
}

.hero-damage {
    background: #111;
    padding: 12px 19px 4px 0px;
}

h3 {
    font-size: 20px;
}

.character-row,
.enemy-row,
.defender-row {
    position: relative;
    height: 250px;
}

.damage-bar {
    position: relative;
    margin: 0;
}

.damage {
    font-size: 24px;
    margin-top: 20%;
}

.dead-damage {
    font-size: 24px;
    margin-top: 5%;
}

.sticker1 {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.sticker2 {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.sticker3 {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
}

.sticker4 {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.sticker5 {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.sticker6 {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

button {
    color: #242424;
}

button::first-letter {
    text-transform: uppercase;
}

.character-photo {
    width: 250px;
    position: relative;
    margin: 20px auto;
}

.character-stats {
    position: absolute;
    bottom: -10px;
    color: #e4e3e3;
}

.dead {
    position: absolute;
    font-size: 290px;
    top: -58px;
    left: 24px;
    color: rgb(201, 4, 69);
    z-index: 1;
}

img {
    position: relative;
    width: 100%;
    border: 2px solid #242424;
    z-index: -1;
}