body {
    background-image: url("../images/background.png");
    background-size: cover;
    font-family: 'New Rocker', cursive;
}

.container {
    width: 80%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
}

h3 {
    font-size: 20px;
}

.character-row,
.enemy-row,
.defender-row {
    position: relative;
    height: 300px;
}

.damage-bar {
    position: relative;
}

button::first-letter {
    text-transform: uppercase;
}

.character-photo {
    width: 250px;
    position: relative;
    margin: 20px auto;
}

.character-stats {
    position: absolute;
    bottom: -10px;
    color: #e4e3e3;
}

.dead {
    position: absolute;
    font-size: 290px;
    top: -58px;
    left: 24px;
    color: rgb(201, 4, 69);
    z-index: 1;
}

img {
    position: relative;
    width: 100%;
    clip: rect(0px,270px,304px,0px);
}


